@import "tailwindcss";

@theme {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
  --color-primary: #0B3D91;
  --color-gold: #FBBF24;
  --color-dark: #1F2937;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #1F2937;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
